<h1 class="page-title">Login</h1>

<form class="auth-form" action="<%= session_url %>" method="POST">
  <%= auth_token %>

  <label>
    Login:
    <input class= "user-form-input" ype="text" name="user[username]">
  </label>

  <label>
    Password:
    <input class= "user-form-input" type="password" name="user[password]">
  </label>

  <input class="btn btn-confirm" type="submit" value="Login">

</form>
