<h1 class='page-title'>Sign Up</h1>

<form class="auth-form" action="<%= users_url %>" method="POST">
  <%= auth_token %>

  <label>
    Username:
    <input class="user-form-input" ype="text" name="user[username]">
  </label>

  <label>
    Password:
    <input class="user-form-input" type="password" name="user[password]">
  </label>

  <input class="btn btn-confirm" type="submit" value="Create">

</form>
