// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete-comment {
  background: transparent;
  color: red;
  display: block;
}

.links {

}

.edit-comment {
  float: left;
  display: inline;
}
